
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}
.foto{
    width: 150px;
    border-radius: 50%;
    margin: 15px 0;
}

#btnTema, #btnSapa {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0,3s;
    animation-name: standbyButton;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}

.siteButton #whatsapp {
    background-color: #206a00;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 15px;
    max-height: 15px;
    cursor: pointer;
}
.siteButton #instagram {
    background-color: #da015b;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 15px;
    max-height: 15px;
    cursor: pointer;
}
.siteButton #twitter {
    background-color: #000000;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 15px;
    max-height: 15px;
    cursor: pointer;
}


.siteButton {
        background-color: #206a0000;
        border-color: #00000000;
    color: white;
}
.sitebutton:hover {
     background-color: #ffffff00;
}


#minijudul {
    margin-bottom: 2px;
}

.siteButton #whatsapp:hover, #instagram:hover, #twitter:hover{
    background-color: #2c3e50;
    color: white;
}

/* Dark mode */
.dark {
    background-color: #2c3e50;
    color: white;
}

.dark h1 {
    color: #f5f5f5;
}

.dark .container {
    background-color: #2c1f1f54;
}

.dark #btnTema, .dark #btnSapa, .dark .siteButton #whatsapp, .dark .siteButton #instagram, .dark .siteButton #twitter{
    background-color: #352b2b;
}
.dark {
    background-color: #1a1616;
}

@keyframes standbyButton {
    0% {
        background-color: #3498db;
    }
    50% {
        background-color: #65befa;
    }
    100% {
        background-color: #3498db;
    }
}